@font-face {
    font-family: "Neptune";
    src: url(Neptune.otf);
    font-stretch: ultra-expanded;
        }

@font-face {
    font-family: "Ikaros";
    src: url(Ikaros-Regular.otf);
    font-stretch: ultra-expanded;
}

@font-face {
    font-family: "Ultra";
    src: url(Ultra.otf);
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.10); /* IE 9 */
    -webkit-transform: scale(1.10); /* Safari 3-8 */
    transform: scale(1.10); 
}

.container img:hover{
    box-shadow: 10px 10px 5px white;
    -moz-box-shadow: 0px 10px 5px white;
    -webkit-box-shadow: 0px 10px 5px white;  
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #fff,
        0 0 82px #fff,
        0 0 92px #fff,
        0 0 102px #fff,
        0 0 120px #fff;
}


@media (min-width: 721px) {

    body {
        background-image: url("space.jpg");
        background-color: black;
        background-size: 1920px, 1080px;
    }
    
    #Logo {
        display: flex;        
        align-items: center;
        margin-top: 100px;
    }
       
    #head {
        font-family: Neptune ;
        color: white;
        text-align: center;    
    }

    #intro {
        font-family: Ikaros;
        color: white;
        font-size: x-large;
        text-align: center;
        padding-top: 100px;
    }    
    
    #HeadingsLogo {
        font-family: "Ultra";
        color: #fff;
        font-size: 60px;
        text-align: center;
        margin-top: 100px;
    }

    .neonImage {
        box-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
        /* 0 0 20px #fff,
        0 0 25px #fff,
        0 0 30px #fff */
        text-align: center;
        width: 300px;
    }
    
    .profilePics {
        height: 300px;
        width: 300px;
    }
    
    .container {
        display: flex;
        padding: 20px;
        color: #fff;
        font-family: "Ikaros";
        font-size: 30px;
        
    }    
    
    .sidebyside {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 50px;
        justify-content: center;   
    }
    
    #ContributionsLogo {
        font-family: "Ultra";
        color: #fff;
        font-size: 60px;
        text-align: center;
        margin-top: 100px;   
    }

    #Achievements {
        font-family: "Ikaros";
        color: white;
        font-size: x-large;
        text-align: center;
        margin-top: 20px;
    }
      
    #discordWidget {
        display: flex;
        align-self: center;    
    }

    #DiscordHeading {
        font-family: "Ultra";
        color: #fff;
        font-size: 60px;
        text-align: center;
        padding-top: 60px;
    }

    #DiscordText {
        display: flex;
        font-family: Ikaros;
        color: white;
        font-size: x-large;
        align-self: center;
        flex-direction: column;
    }

    .wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;   
    }

    .backgroundFooter {
        margin-top: 100px;
        background: black;
        background-blend-mode: darken;
        background-size: cover;
    }

    .backgroundText{
        color: #fff;
        font-family: Ikaros;
        text-align: center;
    }  

}

@media (max-width: 720px) {

    body {
        background-image: url("space2.jpg");
        background-color: black;
        height: 100%;
        background-size: auto;
        width: 100%;
    }

    #Logo {
        image-rendering: auto;
        margin-top: 50px;
        display: flex;
        align-items: center;
    }
    
    #head {
        font-family: Neptune ;
        color: white;
               
        align-items: center;           
    }
    
    #intro{
        font-family: Ikaros;
        color: white;
        font-size: x-large;
        text-align: center;
        padding-top: 100px;
    }
    
    #HeadingsLogo {
        font-family: "Ultra";
        color: #fff;
        font-size: 60px;
        text-align: center;
        margin-top: 100px;
        margin-left: 30px;
    }

    .neonImage {
        box-shadow: 
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
        /* 0 0 20px #fff,
        0 0 25px #fff,
        0 0 30px #fff */
        text-align: center;
        width: 250px;
    }
    
    .profilePics {
        height: 250px;
        width: 250px;
    }

    .container {
        padding: 20px;
        color: #fff;
        font-family: "Ikaros";
        font-size: 30px;       
    }
    
    #ContributionsLogo {
        font-family: "Ultra";
        color: #fff;
        font-size: 60px;
        text-align: center;
        margin-top: 60px;
        margin-left: 30px;
    }

    #Achievements {
        font-family: "Ikaros";
        color: white;
        font-size: 30px;
        text-align: center;
        margin-top: 30px;
        margin-left: 10px;   
    }

    #DiscordHeading {
        font-family: "Ultra";
        color: #fff;
        font-size: 60px;
        text-align: center;
        padding-top: 40px;   
    }

    #DiscordText {
        font-family: Ikaros;
        color: white;
        font-size: 30px;
        margin-top: 40px;
        text-align: center;
    }

    #discordWidget {
        margin-top: 30px;
        width: fit-content;
        align-self: center; 
    }
    
    .backgroundFooter {
        margin-top: 100px;
        background: black;
        background-blend-mode: darken;
        background-size: cover;
    }

    .backgroundText{
        color: #fff;
        font-family: Ikaros;
        text-align: center;              
    }

    .sidebyside {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 30px;
        justify-content: center;  
    }

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
    display: flex;
    flex-direction: column; 
}

html {
    scroll-behavior: smooth;
    width: fit-content;
}
